body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff5a14+0,e24700+100 */
background: #ff5a14; /* Old browsers */
background: -moz-linear-gradient(top,  #ff5a14 0%, #e24700 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ff5a14 0%,#e24700 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ff5a14 0%,#e24700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a14', endColorstr='#e24700',GradientType=0 ); /* IE6-9 */

}