body{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cc3300+0,931701+100 */
	background: #cc3300; /* Old browsers */
	background: -moz-linear-gradient(top,  #cc3300 0%, #931701 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #cc3300 0%,#931701 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #cc3300 0%,#931701 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc3300', endColorstr='#931701',GradientType=0 ); /* IE6-9 */
}