body{
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c14fc1+0,4b3558+100 */
	background: #c14fc1; /* Old browsers */
	background: -moz-linear-gradient(top,  #c14fc1 0%, #4b3558 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #c14fc1 0%,#4b3558 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #c14fc1 0%,#4b3558 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c14fc1', endColorstr='#4b3558',GradientType=0 ); /* IE6-9 */
}