html {
  min-height: 100%
}

body{
  background: #ffff00; /* Old browsers */

  color: #000000;
  font-family: 'Alatsi', Helvetica, sans-serif;

  max-width: 100%;
  overflow-x: hidden; 	
  text-shadow: 0px 0px #ffff00;
  line-height: 28px;
}

.title {
  text-align:center;
}

.back {
  text-align:center;
}

.link3 {
  display:inline;
}

.bullets {
  max-width: 1168px;
  margin: auto;
}

h1 {
  text-shadow:03px 0px #ffff00;
}

h3 {
  text-shadow: 0px 0px #ffff00;
}

hr {
  margin: 0px 10px;
  height: 5px;
  background-color:#000000;
  border: 0 none;
  max-width: 1200px;
  margin: auto;
}

a {
  color: #000000;
  text-decoration: none;
  border-bottom: 0px solid currentColor;
  text-decoration: none;
}

a:hover {
  color: #7f7f00;
  
}

a.bulletlink {
	text-decoration:underline;
}

